/* ANIMATIONS */
@keyframes flickerAnimation {
    0% {
        text-shadow: rgba(58, 134, 255, 0.3) 0px 0px 24px;
        -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    }

    50% {
        text-shadow: rgba(58, 134, 255) 0px 0px 24px;
        -webkit-text-stroke: 2px rgba(255, 255, 255);
    }

    100% {
        text-shadow: rgba(58, 134, 255, 0.3) 0px 0px 24px;
        -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    }
}