/* ABOUT SECTION */
.about p {
    text-align: center;
}

/* FORM SECTION */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.optionalFields {
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.option {
    display: flex;
    flex-direction: column;
    width: 48%;
}

input[type='submit'] {
    margin-top: 20px;
}

/* RESULTS SECTION */
.resultsInfo,
.resultsInstructions {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

ol {
    margin: 0;
}

.facts {
    display: flex;
}

.facts p {
    margin-right: 20px;
}

.facts p:last-child {
    margin-left: 0;
}